<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }
</style>
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">字典配置</h3>
                    </div> <!-- /.card-body -->
                    <div class="card-body">
                        <div class="grid-btn">
                            <input type="text" placeholder="关键字" id="keyword1" class="form-control col-2">&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-info" onclick="searchDict()"><i
                                    class="fa fa-search"></i>&nbsp;搜索
                            </button>
                            <button class="btn btn-info" onclick="resetDict()"><i
                                    class="glyphicon glyphicon-refresh"></i>&nbsp;重置
                            </button>
                        </div>
                        <div class="grid-btn">
                            <button class="btn btn-info" onclick="dictAdd()"><i
                                    class="fa fa-plus"></i>&nbsp;新增
                            </button>
                            <button class="btn btn-info" onclick="dictEdit()"><i
                                    class="fa fa-pencil-square-o"></i>&nbsp;修改
                            </button>
                            <button class="btn btn-danger" onclick="deleteDict()"><i
                                    class="fa fa-trash-o"></i>&nbsp;删除
                            </button>
                        </div>
                        <table id="jqGrid" class="table table-bordered">
                        </table>
                        <div id="jqGridPager"></div>
                    </div><!-- /.card-body -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
        <div class="content">
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="dictModal" tabindex="-1" role="dialog" aria-labelledby="dictModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="dictModalLabel">Modal</h6>
                        </div>
                        <div class="modal-body">
                            <form id="dictForm">
                                <div class="form-group">
                                    <div class="alert alert-danger" id="edit-error-msg" style="display: none;">
                                        错误信息展示栏。
                                    </div>
                                </div>
                                <input type="hidden" class="form-control" id="dictId" name="dictId">
                                <div class="form-group">
                                    <label for="keyWord" class="control-label">关键字:</label>
                                    <input type="text" class="form-control" id="keyWord" name="keyWord"
                                           placeholder="请输入关键字" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="dictName" class="control-label">字典名称:</label>
                                    <input type="text" class="form-control" id="dictName" name="dictName"
                                           placeholder="请输入字典名称" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="dictValue" class="control-label">字典值:</label>
                                    <input type="text" class="form-control" id="dictValue" name="dictValue"
                                           placeholder="请输字典值" >
                                </div>
                                <div class="form-group">
                                    <label for="sort" class="control-label">排序值:</label>
                                    <input type="number" class="form-control" id="sort" name="sort"
                                           placeholder="请输入排序值" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="remark" class="control-label">备注信息:</label>
                                    <input type="text" class="form-control" id="remark" name="remark"
                                           placeholder="请输入备注信息" >
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="saveButton">确认</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.3.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.3.0/grid.locale-cn.js}"></script>
<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<script th:src="@{/admin/dist/js/dict.js}"></script>
</body>
</html>
