<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>E:/Maple/MBlog Project/logs/maple-blog/log.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>E:/MBlog Project/logs/maple-blog/maple-blog.%d.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- maxFileSize:这是活动文件的大小，默认值是10MB，测试时可改成1KB看效果 -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d %p (%file:%line\)- %m%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--级别分为：TRACE < DEBUG < INFO < WARN < ERROR < FATAL-->
    <logger name="top.maplefix.mapper" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <!-- 开发环境只需要console打印日志即可-->
        <appender-ref ref="LOGFILE" />
    </root>
</configuration>