<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${dict['websiteName']}+' | '+${pageName}">详情页</title>
    <meta name="description" th:content="${dict['websiteDescription']}">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" th:href="@{${dict['websiteIcon']}}"/>
    <!--自定义样式导入-->
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}"/>
    <!-- Valine评论js -->
    <script async="async" src='https://unpkg.com/valine/dist/Valine.min.js'></script>
    <!-- 卜算子统计  -->
    <script async="async" src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <!-- 网站底部运行时间引入 -->
    <script th:src="@{/blog/default/js/bottom-runtime.js}"></script>
    <!--markdown回显样式,不要要导入，不然会覆盖highlight高亮插件的样式-->
    <!--  <link rel="stylesheet" th:href="@{/admin/plugins/editormd/examples/css/style.css}" />
    <link rel="stylesheet" th:href="@{/admin/plugins/editormd/css/editormd.preview.css}" />-->
    <!--目录生成插件引入-->
    <link rel="stylesheet" th:href="@{/blog/plugins/autocjs/autoc.css}"/>
    <!--代码高亮样式导入，可以自由调整-->
    <!--<link rel="stylesheet" th:href="@{/blog/plugins/highlight/styles/monokai-sublime.css}"/>-->
    <!--<link rel="stylesheet" th:href="@{/blog/plugins/highlight/styles/monokai.css}"/>-->
    <!--GitHub浅色样式-->
    <link rel="stylesheet" th:href="@{/blog/plugins/highlight/styles/github.css}"/>
</head>
<body>
<div th:replace="blog/amaze/header::nav-fragment"></div>
<header th:fragment="header-fragment" class="intro-header"
        th:style="'background-image:url(' + @{/blog/amaze/images/header.jpg} + ');'">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 th:text="${blog.title}"></h1>
                    <span class="meta">
                            <th:block th:text="${blog.createDate}"></th:block> &nbsp;
                                <div class="comments-view" style="display: inline-block">
                                    &nbsp
                                    <th:block th:text="${blog.hits}"></th:block>浏览
                                </div>
                                </span>
                    <div class="tags post-tags">
                        <th:block th:each="label : ${blog.labels}">
                            <a class="tag" rel="tag" th:href="@{'/label/' + ${label} + '.html'}">
                                <th:block th:text="${label}"></th:block>
                            </a>&nbsp;
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="am-g am-g-fixed blog-fixed">
        <div class="am-u-lg-12 am-u-sm-12">
            <article class="am-article blog-article-p article-trigger">
                <div class="am-article-bd article-body">
                    <div id="post-content">
                        <!--<th:block th:utext="${blog.content}"/>-->
                        <label for="markdown"></label><textarea style="display: none" id = "markdown" th:text="${blog.content}" ></textarea>
                    </div>
                    <aside class="blog-rights clearfix">
                        <p>本站除注明出处外，所有的文章皆为原创，文章采用<a href="https://creativecommons.org/licenses/by-nc/4.0/deed.zh">CC BY-NC 4.0</a>协议进行许可。</p>
                    </aside>
                </div>
            </article>
            <hr>
        </div>
    </div>
    <aside class="comments" id="comments">
        <div id="vcomments"></div>
        <!--初始化评论组件-->
        <script async>
            window.onload = function(){
                new Valine({
                    el: '#vcomments',
                    appId: '1qkxgxkpCs1goMHhxRzKogz3-gzGzoHsz',
                    appKey: 'fLqf1AnyQK1loxltigm0q3GY',
                    notify:false,
                    verify:false,
                    avatar:'retro',
                    /**
                     * 空字符串''	 	Gravatar官方图形
                     mp	                神秘人(一个灰白头像)
                     identicon          抽象几何图形
                     monsterid          小怪物
                     wavata             用不同面孔和背景组合生成的头像
                     retro              八位像素复古头像
                     robohash           一种具有不同颜色、面部等的机器人
                     hide               不显示头像
                     *
                     */
                    placeholder: 'just go go!'
                })
            }
        </script>
    </aside>

    <p class="back-top" id="back-top" style="display:none">
        <a href="#top"><span></span></a>
    </p>
</div>
<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
</body>
<script th:src="@{/blog/default/js/jquery.min.js}"></script>
<!--其他设备阅读js-->
<script th:src="@{/blog/default/js/qrcode.js}"></script>
<!-- editormd -->
<script th:src="@{/admin/plugins/editormd/lib/marked.min.js}"></script>
<script th:src="@{/admin/plugins/editormd/lib/prettify.min.js}"></script>
<script th:src="@{/admin/plugins/editormd/lib/raphael.min.js}"></script>
<script th:src="@{/admin/plugins/editormd/lib/underscore.min.js}"></script>
<script th:src="@{/admin/plugins/editormd/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/admin/plugins/editormd/lib/flowchart.min.js}"></script>
<script th:src="@{/admin/plugins/editormd/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{/admin/plugins/editormd/editormd.min.js}" type="text/javascript" charset="utf-8"></script>
<!--代码高亮插件引入-->
<script th:src="@{/blog/plugins/highlight/highlight.pack.js}"></script>
<!--高亮插件初始化-->
<script>hljs.initHighlightingOnLoad();</script>
<!--目录生成插件引入-->
<script type="text/javascript" th:src="@{/blog/plugins/autocjs/autoc.js}"></script>
<script>
    //markdown转成html显示容器
    var editor;
    //文章目录容器
    var navigation
    $(function () {
        $("#back-top").hide();
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-top a').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        //将md内容转化为HTML显示
        editor = editormd.markdownToHTML("post-content", {//注意：这里是上面DIV的id
            //目录显示区域
            //tocContainer: "#custom-toc-container",
            tocDropdown: false,//目录以下拉框显示
            markdownSourceCode: true,
            htmlDecode : "style,script,iframe",
            codeFold: true,
            emoji : true,
            taskList : true,
            tocm  : true,                   // Using [TOCM]
            tex : true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart : true,             // 开启流程图支持，默认关闭
            sequenceDiagram : true       // 开启时序/序列图支持，默认关闭,
        });

        $("#post-content").autoc({
            // 侧边栏导航的标题
            title: '文章目录',
            // 要收集的标题选择器
            selector: 'h1,h2,h3,h4,h5,h6',
            // 侧边栏导航的标题
        });
        //文章侧边目录生成
        /*navigation = new AutocJS({
            // 文章正文 DOM 节点的 ID 选择器
            article: '#post-content',
            // 要收集的标题选择器
            selector: 'h1,h2,h3,h4,h5,h6',
            // 侧边栏导航的标题
            title: '文章目录',
            // 文章导读导航的位置
            // outside - 以侧边栏菜单形式显示（默认值）
            // inside - 在文章正文一开始的地方显示
            position: 'inside',
            // 标题图标链接的 URL 地址
            // （默认）没有设置定制，点击链接页面滚动到标题位置
            // 设置了链接地址，则不会滚动定位
            anchorURL: '',
            // 链接的显示位置
            // front - 在标题最前面（默认值）
            // back - 在标题后面
            anchorAt: 'front',
            // 是否生成文章导读导航
            isGenerateOutline: false,
            // 是否在文章导读导航中显示段落章节编号
            isGenerateOutlineChapterCode: false,
            // 是否在正文的文章标题中显示段落章节编号
            isGenerateHeadingChapterCode: false,
            // 是否在正文的文章标题中创建锚点
            isGenerateHeadingAnchor: false
        });*/
    })
</script>
</html>