<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-fragment">
    <meta charset="utf-8">
    <title th:text="${dict['websiteName']}+' | '+${pageName}">主页</title>
    <meta name="description" th:content="${dict['websiteDescription']}">
    <link rel="shortcut icon" th:href="@{${dict['websiteIcon']}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--如果浏览器支持双核，自动使用急速模式，渲染器选择  webkit，ie-comp，ie-stand 极速模式，兼容模式，IE模式-->
    <meta name="renderer" content="webkit">
    <!--兼容ie，当前页面用chrome内核来渲染，如果安装了GCF,则使用GCF来渲染页面,如果未安装GCF,则使用最高版本的IE内核进行渲染-->
    <meta https-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--强制页面在当前窗口以独立页面显示,防止别人在框架里调用你的页面-->
    <meta http-equiv="Window-target" content="_top"/>
    <!--谷歌统计验证-->
    <meta name="google-site-verification" content="b5Ao6w_2i_BIcaFHRKZG7dfmtGu8WGAGkLzlWuDXUcM" />
    <!--搜狗站长验证-->
    <meta name="sogou_site_verification" content="FNioCygjJG"/>
    <link rel="stylesheet" th:href="@{/blog/amaze/css/base.css}">
    <link rel="stylesheet" th:href="@{/admin/dist/css/font-awesome.min.css}">
    <script th:src="@{/blog/default/js/jquery.min.js}"></script>
    <!-- Valine评论js -->
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <!-- 卜算子统计  -->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

    <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">-->
    <!-- 网站底部运行时间引入 -->
    <script th:src="@{/blog/default/js/bottom-runtime.js}"></script>
    <!-- 回到顶部js引入 -->
    <script th:src="@{/blog/default/js/back-top.js}"></script>
    <!--其他设备阅读js-->
    <script th:src="@{/blog/default/js/qrcode.js}"></script>

</head>
<nav th:fragment="nav-fragment" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!--适配移动端顶部栏 mobile-->
        <div class="navbar-header page-scroll" >
            <button type="button" class="navbar-toggle" data-for="toggle-items">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" text="Maple blog">
                Maple's Blog
            </a>
            <a class="navbar-brand" href="javascript:void(0)">
                <span id="otherDeviceRead" class="other-device-read" title="在其他设备继续阅读" ></span>
            </a>
            <img id="qrCodeRead" src="" alt="扫码在其他设备继续阅读" class="qrCode"/>
        </div>
        <div class="navbar-collapse" style="display: none;" id="toggle-items" >
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a th:href="@{/index.html}">Home</a>
                </li>
                <li>
                    <a th:href="@{/archive.html}">Archives</a>
                </li>
                <li>
                    <a th:href="@{/link.html}">Links</a>
                </li>
                <li>
                    <a th:href="@{/about.html}">About</a>
                </li>
                <li>
                    <a th:href="@{/reading.html}">Reading</a>
                </li>
            </ul>
        </div>
        <!--/.mobile-->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="huxblog_navbar">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a th:href="@{/index.html}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/archive.html}">Archives</a>
                    </li>
                    <li>
                        <a th:href="@{/link.html}">Links</a>
                    </li>
                    <li>
                        <a th:href="@{/about.html}">About</a>
                    </li>
                    <li>
                        <a th:href="@{/reading.html}">Reading</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>

    <script th:src="@{/blog/default/js/jquery.min.js}"></script>
    <script>
        $(function () {
            $('.navbar-toggle').click(function () {
                $('#toggle-items').fadeToggle("fast");
            });
        })
    </script>
    </div>
    <!-- /.container -->
</nav>
<header th:fragment="header-fragment" class="intro-header"
        th:style="'background-image:url(' + @{/blog/amaze/images/header.jpg} + ');'">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                  <span class="subheading">
                      永远年轻，永远热泪盈眶
                  </span>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    $(function () {
        $("#back-top").hide();
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-top a').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
    })

</script>
</html>