<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="keyword-list-fragment" class="am-u-lg-8 am-u-sm-12">
    <main class="articles-list">
        <div>
            <th:block th:if="${null != blogPageResult}">
                <th:block th:each="blog,iterStat : ${blogPageResult.list}">
                    <article class="am-g blog-entry-article">
                        <div class="am-u-lg-6 am-u-lg-12 am-u-sm-12 blog-entry-text post-preview">
                            <div class="topic-header">
                                <div class="pull-left">
                                    <div class="blog-flex-center">
                                        <div class="blog-flex0">
                                            <img th:src="@{${dict['avatar']}}" alt=""
                                                 class="link avatar avatar-image">
                                        </div>
                                        <div class="author-lockup blog-flex1">
                                            <!--是否置顶或者推荐-->
                                            <span th:class="${blog.support=='1'}?'article-support' : ''" >&nbsp;</span>&nbsp;
                                            <a class="link" href="javascript:;" th:text="${blog.title}"></a>
                                            <span class="in">in</span>
                                            <span class="category-name">
                                                <a class="category-name" rel="tag" th:href="@{'/category/' + ${blog.categoryName} + '.html'}"
                                                   th:utext="${blog.categoryName}">
                                                    </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <span class="pull-right time pc_time"
                                      th:text="${blog.createDate}">2019-01</span>
                            </div>
                            <h1 class="post-index-title">
                                <a itemtype="url" th:href="@{'/blog/' + ${blog.blogId} + '.html'}">
                                    <!--是否原创/转载-->
                                    <span th:class="${blog.originalFlag=='1'}?'article-original' : 'article-reprinted'" ></span>&thinsp;
                                    <th:block th:text="${blog.title}"></th:block>
                                </a>
                            </h1>
                            <div class="post-content-preview article-body">
                                <a th:href="@{'/blog/' + ${blog.blogId} + '.html'}">
                                    <img th:src="@{${blog.coverImg}}" alt=""></a>
                            </div>
                            <div class="clearfix topic-footer">
                                <span class="pull-left time mobile_time"></span>
                            </div>
                    </article>
                </th:block>
            </th:block>
            <th:block th:if="${null != blogPageResult}">
                <ul class="am-pagination">
                    <li th:class="${blogPageResult.currPage==1}?'disabled' : 'am-pagination-prev'"><a
                            th:href="@{${blogPageResult.currPage==1}?'##':'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage-1} + '.html'}">&laquo;</a>
                    </li>
                    <li th:if="${blogPageResult.currPage-3 >=1}"><a
                            th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage-3} + '.html'}"
                            th:text="${blogPageResult.currPage -3}">1</a></li>
                    <li th:if="${blogPageResult.currPage-2 >=1}"><a
                            th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage-2} + '.html'}"
                            th:text="${blogPageResult.currPage -2}">1</a></li>
                    <li th:if="${blogPageResult.currPage-1 >=1}"><a
                            th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage-1} + '.html'}"
                            th:text="${blogPageResult.currPage -1}">1</a></li>
                    <li class="active"><a href="#" th:text="${blogPageResult.currPage}">1</a></li>
                    <li th:if="${blogPageResult.currPage+1 <=blogPageResult.totalPage}"><a
                            th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage+1} + '.html'}"
                            th:text="${blogPageResult.currPage +1}">1</a></li>
                    <li th:if="${blogPageResult.currPage+2 <=blogPageResult.totalPage}"><a
                            th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage+2} + '.html'}"
                            th:text="${blogPageResult.currPage +2}">1</a></li>
                    <li th:if="${blogPageResult.currPage+3 <=blogPageResult.totalPage}"><a
                            th:href="@{'/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage+3} + '.html'}"
                            th:text="${blogPageResult.currPage +3}">1</a></li>
                    <li th:class="${blogPageResult.currPage==blogPageResult.totalPage}?'disabled' : ''">
                        <a th:href="@{${blogPageResult.currPage==blogPageResult.totalPage}?'##' : '/'+${pageUrl}+'/'+${keyword}+'/' + ${blogPageResult.currPage+1} + '.html'}">&raquo;</a>
                    </li>
                </ul>
            </th:block>
        </div>
    </main>
    <p class="back-top" id="back-top" style="display:none">
        <a href="#top"><span></span></a>
    </p>
</div>
</html>