<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="blog/amaze/header::head-fragment"></head>
    <body>
        <div th:replace="blog/amaze/header::nav-fragment"></div>
        <header th:fragment="header-fragment" class="intro-header"
                th:style="'background-image:url(' + @{/blog/amaze/images/header.jpg} + ');'">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                          <span class="subheading">
                              永远年轻，永远热泪盈眶
                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="am-g am-g-fixed blog-fixed">
                <b>About Reading.</b>
                <p style=" text-indent:2em">
                    记录一下平时阅读的书籍,可能也会添加一些简单的书评。<br/>
                </p>
            </div>

            <!--书单表格satrt-->
            <table class="am-table am-table-striped am-table-hover">
                <thead>
                <tr>
                    <th>书名</th>
                    <th>作者</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <!--<th>书评</th>
                    <th>状态</th>-->
                </tr>
                </thead>
                <tbody>
                    <tr th:each="bookList : ${bookListPage}">
                        <td th:text="${bookList.bookName}">xxx</td>
                        <td th:text="${bookList.bookAuthor}">xxx</td>
                        <td th:text="${bookList.readBeginDate}">xxx</td>
                        <td th:text="${bookList.readEndDate}">xxx</td>
                        <!--<td th:text="${bookList.reviews}">xxx</td>
                        <td th:text="${bookList.readStatus}">xxx</td>-->
                    </tr>
                </tbody>
            </table>
            <!--书单表格end-->
            <br/>
            <aside class="comments" id="comments">
                <div id="vcomments"></div>
                <script>
                    new Valine({
                        el: '#vcomments',
                        appId: '1qkxgxkpCs1goMHhxRzKogz3-gzGzoHsz',
                        appKey: 'fLqf1AnyQK1loxltigm0q3GY',
                        notify:false,
                        verify:false,
                        avatar:'retro',
                        /**
                         * 空字符串''	 	Gravatar官方图形
                         mp	                神秘人(一个灰白头像)
                         identicon          抽象几何图形
                         monsterid          小怪物
                         wavata             用不同面孔和背景组合生成的头像
                         retro              八位像素复古头像
                         robohash           一种具有不同颜色、面部等的机器人
                         hide               不显示头像
                         *
                         */
                        placeholder: 'just go go!'
                    })
                </script>
            </aside>

            <p class="back-top" id="back-top" style="display:none">
                <a href="#top"><span></span></a>
            </p>
        </div>
        <footer th:replace="blog/amaze/footer::footer-fragment"></footer>
    </body>
</html>