<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.maplefix.mapper.BlogMapper">

    <resultMap type="top.maplefix.model.Blog" id="BlogResult">
        <id property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="headerImg" column="header_img"/>
        <result property="headerImgType" column="header_img_type"/>
        <result property="content" column="content"/>
        <result property="htmlContent" column="html_content"/>
        <result property="status" column="status"/>
        <result property="click" column="click"/>
        <result property="comment" column="comment"/>
        <result property="commentCount" column="comment_count"/>
        <result property="support" column="support"/>
        <result property="original" column="original"/>
        <result property="weight" column="weight"/>
        <result property="createBy" column="create_by"/>
        <result property="createDate" column="create_date"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <resultMap id="BlogResultWithoutContent" type="top.maplefix.model.Blog">
        <result property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="headerImg" column="header_img"/>
        <result property="headerImgType" column="header_img_type"/>
        <result property="status" column="status"/>
        <result property="comment" column="comment"/>
        <result property="like" column="like"/>
        <result property="click" column="click"/>
        <result property="support" column="support"/>
        <result property="weight" column="weight"/>
        <result property="createBy" column="create_by"/>
        <result property="createDate" column="create_date"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateDate" column="update_date"/>
        <association property="category" javaType="top.maplefix.model.Category">
            <id property="id" column="c_id"/>
            <result property="title" column="c_title"/>
            <result property="description" column="c_description"/>
            <result property="createDate" column="c_create_date"/>
        </association>
    </resultMap>

    <select id="selectBlogList" resultMap="BlogResultWithoutContent">
        select b.id,
        b.category_id,
        b.title,
        b.summary,
        b.weight,
        b.header_img,
        b.header_img_type,
        b.status,
        b.support,
        b.like,
        b.click,
        b.comment,
        b.create_by,
        b.create_date,
        c.id c_id,
        c.title c_title,
        c.description c_description,
        c.support c_support,
        c.create_date c_create_date
        from t_blog b ,t_category c
        where b.category_id=c.id
        <if test="title != null and title != ''">
            AND b.title like concat('%', #{title}, '%')
        </if>
        <if test="status != null">
            AND b.status = #{status}
        </if>
        <if test="support != null ">
            AND b.support = #{support}
        </if>
        <if test="params.beginDate != null and params.beginDate != ''"><!-- 开始时间检索 -->
            and date_format( b.create_date,'%y%m%d') &gt;= date_format(#{params.beginDate},'%y%m%d')
        </if>
        <if test="params.endDate != null and params.endDate != ''"><!-- 结束时间检索 -->
            and date_format( b.create_date,'%y%m%d') &lt;= date_format(#{params.endDate},'%y%m%d')
        </if>
    </select>

    <select id="selectBlogById" resultMap="BlogResult">
        select id,
        category_id,
        title,
        summary,
        header_img,
        header_img_type,
        content,
        support,
        click,
        `like`,
        status,
        weight,
        comment,
        create_by,
        create_date,
        update_date
        from t_blog
        where id = #{id}
    </select>


    <select id="selectBlogListQuery" resultMap="BlogResult">
        select b.id,
        b.category_id,
        b.title,
        b.summary,
        b.weight,
        b.header_img,
        b.status,
        b.support,
        b.like,
        b.click,
        b.comment,
        b.create_date,
        b.update_date,
        count(c.id) as comment_count
        from t_blog b
        left join t_comment c on b.id=c.page_id
        where 1=1
        <if test="categoryId != null">
            AND b.category_id =#{categoryId}
        </if>
        <if test="support != null ">
            AND b.support = #{support}
        </if>
        <if test="beginDate != null "><!-- 开始时间检索 -->
            and date_format( b.create_date,'%y%m%d') &gt;= date_format(#{beginDate},'%y%m%d')
        </if>
        <if test="endDate != null "><!-- 结束时间检索 -->
            and date_format( b.create_date,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
        </if>
        group by b.id
    </select>

    <select id="selectBlogByIdQuery" resultMap="BlogResult">
        select b.id,
        b.category_id,
        b.title,
        b.summary,
        b.header_img,
        b.header_img_type,
        b.html_content as content,
        b.support,
        b.click,
        b.like,
        b.status,
        b.weight,
        b.comment,
        create_by,
        b.create_date,
        b.update_date,
        count(c.id) as comment_count
        from t_blog b left join t_comment c
        on b.id=c.page_id
        where b.id = #{id}
        and b.status=1
    </select>

    <select id="selectBlogListByCategoryIds" resultMap="BlogResultWithoutContent">
        select id ,
        category_id,
        title,
        summary,
        weight,
        header_img,
        header_img_type,
        status,
        support,
        comment,
        create_by,
        create_date,
        update_date
        from t_blog
        where category_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="id">
        insert into t_blog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null ">category_id,</if>
            <if test="title != null  and title != ''">title,</if>
            <if test="summary != null  and summary != ''">summary,</if>
            <if test="headerImg != null  and headerImg != ''">header_img,</if>
            <if test="headerImgType != null  and headerImgType != ''">header_img_type,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="htmlContent != null  and htmlContent != ''">html_content,</if>
            <if test="status != null ">status,</if>
            <if test="comment != null ">comment,</if>
            <if test="support != null ">support,</if>
            <if test="weight != null ">weight,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createDate != null  and createDate != ''">create_date</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null ">#{categoryId},</if>
            <if test="title != null  and title != ''">#{title},</if>
            <if test="summary != null  and summary != ''">#{summary},</if>
            <if test="headerImg != null  and headerImg != ''">#{headerImg},</if>
            <if test="headerImgType != null  and headerImgType != ''">#{headerImgType},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="htmlContent != null  and htmlContent != ''">#{htmlContent},</if>
            <if test="status != null ">#{status},</if>
            <if test="comment != null ">#{comment},</if>
            <if test="support != null ">#{support},</if>
            <if test="weight != null ">#{weight},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createDate != null  and createDate != ''">#{createDate}</if>
        </trim>
    </insert>

    <update id="updateBlog">
        update t_blog
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null ">category_id = #{categoryId},</if>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="summary != null  and summary != ''">summary = #{summary},</if>
            <if test="headerImg != null  and headerImg != ''">header_img = #{headerImg},</if>
            <if test="headerImgType != null  and headerImgType != ''">header_img_type = #{headerImgType} ,</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="htmlContent != null  and htmlContent != ''">html_content = #{htmlContent},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="support != null ">support = #{support},</if>
            <if test="weight != null ">weight = #{weight},</if>
            <if test="comment != null ">comment = #{comment},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateDate != null  and updateDate != ''">update_date = #{updateDate}</if>
        </trim>
        where id = #{id}
    </update>

    <update id="incrementBlogLike">
        update t_blog set `like`=`like`+1 where id=#{id}
    </update>
    <update id="incrementBlogClick">
         update t_blog set click=click+1 where id=#{id}
    </update>

    <delete id="deleteBlogById">
        delete from  t_blog where id = #{id};
        ALTER TABLE t_blog AUTO_INCREMENT = 1;
    </delete>

    <delete id="deleteBlogByIds">
        delete from t_blog where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>;
        ALTER TABLE t_blog AUTO_INCREMENT = 1;
    </delete>
</mapper>