<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.maplefix.mapper.BookMapper">

    <resultMap type="top.maplefix.model.Book" id="BkBookMap">
        <result property="bookId" column="book_id"/>
        <result property="title" column="title"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="author" column="author"/>
        <result property="categoryId" column="category_id"/>
        <result property="publisher" column="publisher"/>
        <result property="publishDate" column="publish_date"/>
        <result property="pageNum" column="page_num"/>
        <result property="grade" column="grade"/>
        <result property="summary" column="summary"/>
        <result property="catalog" column="catalog"/>
        <result property="click" column="click"/>
        <result property="like" column="like"/>
        <result property="status" column="status"/>
        <result property="progress" column="progress"/>
        <result property="support" column="support"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <!--查询单个-->
    <select id="selectBookById" resultMap="BkBookMap">
        select
          book_id, title, cover_url, author, category_id, publisher, publish_date, page_num, grade, summary, catalog,
          click, like, status, progress, support, create_date, update_date
        from t_book
        where book_id = #{bookId}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectBookList" resultMap="BkBookMap">
        select
        book_id, title, cover_url, author, category_id, publisher, publish_date, page_num, grade, summary, `catalog`,
        click, `like`, status, progress, support, create_date,update_date
        from t_book
        <where>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="author != null and author != ''">
                and author = #{author}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="support != null">
                and support = #{support}
            </if>
            <if test="params.beginDate != null and params.beginDate != ''"><!-- 开始时间检索 -->
                and date_format( create_date,'%y%m%d') &gt;= date_format(#{params.beginDate},'%y%m%d')
            </if>
            <if test="params.endDate != null and params.endDate != ''"><!-- 结束时间检索 -->
                and date_format( create_date,'%y%m%d') &lt;= date_format(#{params.endDate},'%y%m%d')
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insertBook" >
        insert into t_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookId != null and bookId != ''">book_id,</if>
            <if test="title != null and title != '' ">title,</if>
            <if test="coverUrl != null  and coverUrl != ''">cover_url,</if>
            <if test="author != null  and author != ''">author,</if>
            <if test="categoryId != null  and categoryId != ''">category_id,</if>
            <if test="publisher != null  and publisher != ''">publisher,</if>
            <if test="publishDate != null">publish_date,</if>
            <if test="pageNum != null ">page_num,</if>
            <if test="grade != null ">grade,</if>
            <if test="summary != null and summary !=''">summary,</if>
            <if test="catalog != null and catalog !=''">catalog,</if>
            <if test="status != null ">status,</if>
            <if test="progress != null ">progress,</if>
            <if test="support != null ">support,</if>
            <if test="createDate != null  and createDate != ''">create_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bookId != null and bookId !='' ">#{bookId},</if>
            <if test="title != null and title !='' ">#{title},</if>
            <if test="coverUrl != null  and coverUrl != ''">#{coverUrl},</if>
            <if test="author != null  and author != ''">#{author},</if>
            <if test="categoryId != null  and categoryId != ''">#{categoryId},</if>
            <if test="publisher != null  and publisher != ''">#{publisher},</if>
            <if test="publishDate != null">#{publishDate},</if>
            <if test="pageNum != null ">#{pageNum},</if>
            <if test="grade != null ">#{grade},</if>
            <if test="summary != null and summary !=''">#{summary},</if>
            <if test="catalog != null and catalog !=''">#{catalog},</if>
            <if test="status != null ">#{status},</if>
            <if test="progress != null ">#{progress},</if>
            <if test="support != null ">#{support},</if>
            <if test="createDate != null  and createDate != ''">#{createDate}</if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="updateBook">
        update t_book
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="coverUrl != null and coverUrl != ''">
                cover_url = #{coverUrl},
            </if>
            <if test="author != null and author != ''">
                author = #{author},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="publisher != null and publisher != ''">
                publisher = #{publisher},
            </if>
            <if test="publishDate != null">
                publish_date = #{publishDate},
            </if>
            <if test="pageNum != null">
                page_num = #{pageNum},
            </if>
            <if test="grade != null">
                grade = #{grade},
            </if>
            <if test="summary != null and summary != ''">
                summary = #{summary},
            </if>
            <if test="catalog != null and catalog != ''">
                catalog = #{catalog},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="progress != null">
                progress = #{progress},
            </if>
            <if test="support != null">
                support = #{support},
            </if>
            <if test="updateDate != null and updateDate != ''">
                update_date = #{updateDate},
            </if>
        </set>
        where book_id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteBookByIds">
        delete from t_book where book_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
