<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.maplefix.mapper.CategoryMapper">

    <resultMap type="top.maplefix.model.Category" id="CategoryResult">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="support" column="support"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>


    <select id="selectCategoryList" parameterType="top.maplefix.model.Category"
            resultMap="CategoryResult">
        select id,
        title,
        description,
        support,
        create_date,
        update_date
        from t_category
        <where>
            <if test="title != null and title != ''">
                AND title like concat('%', #{title}, '%')
            </if>
            <if test="params.beginDate != null and params.beginDate != ''"><!-- 开始时间检索 -->
                and date_format(create_date,'%y%m%d') &gt;= date_format(#{params.beginDate},'%y%m%d')
            </if>
            <if test="params.endDate != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_date,'%y%m%d') &lt;= date_format(#{params.endDate},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectCategoryById" resultMap="CategoryResult">
        select id,
        title,
        description,
        support,
        create_date,
        update_date
        from t_category
        where id = #{id}
    </select>

    <select id="selectSupportBlogCategoryList" resultType="top.maplefix.model.Category">
        select id,
        title,
        description,
        support,
        create_date,
        update_date
        from t_category
    </select>

    <insert id="insertCategory" parameterType="top.maplefix.model.Category" useGeneratedKeys="true" keyProperty="id">
        insert into t_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">title,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="support != null ">support,</if>
            <if test="createDate != null  and createDate != ''">create_date</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null  and title != ''">#{title},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="support != null ">#{support},</if>
            <if test="createDate != null  and createDate != ''">#{createDate}</if>
        </trim>
    </insert>

    <update id="updateCategory" parameterType="top.maplefix.model.Category">
        update t_category
        <set>
            <if test="title != null  and title != ''">title = #{title},</if>
            <if test="description != null  and description != ''">description = #{description},</if>
            <if test="support != null ">support = #{support},</if>
            <if test="updateDate != null  and updateDate != ''">update_date = #{updateDate}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteCategoryById">
        delete from  t_category
        where id = #{id};
        ALTER TABLE t_category AUTO_INCREMENT = 1;
    </delete>

    <delete id="deleteCategoryByIds">
        delete from  t_category
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>;
        ALTER TABLE t_category AUTO_INCREMENT = 1;
    </delete>

</mapper>
