<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.maplefix.mapper.FileItemMapper">

    <insert id="insertFileItem" parameterType="top.maplefix.vo.FileItem">
        insert into t_file_item (
            <if test="fileId != null and fileId != '' ">fileId,</if>
            <if test="fileName != null and fileName != '' ">fileName,</if>
            <if test="fileHash != null and fileHash != '' ">fileHash,</if>
            <if test="fileSize != null  ">fileSize,</if>
            <if test="uploadDate != null and uploadDate != '' ">uploadDate,</if>
            <if test="serverType != null and serverType != ''">serverType,</if>
            <if test="filePath != null and filePath != ''">filePath</if>
        )
        values(
            <if test="fileId != null and fileId != ''">#{fileId},</if>
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="fileHash != null and fileHash != ''">#{fileHash},</if>
            <if test="fileSize != null ">#{fileSize},</if>
            <if test="uploadDate != null and uploadDate != ''">#{uploadDate},</if>
            <if test="serverType != null and serverType != ''">#{serverType},</if>
            <if test="filePath != null and filePath != ''">#{filePath}</if>
        )
    </insert>

    <delete id="deleteByServerType" parameterType="java.lang.String">
        delete from t_file_item where serverType =#{serverType}
    </delete>

    <delete id="deleteByNameAndServerType" parameterType="java.lang.String">
        delete  from t_file_item where serverType =#{serverType} and fileName=#{fileName}
    </delete>

    <select id="getFileItemList" resultType="top.maplefix.vo.FileItemVo">
        select fileId,fileHash,fileSize,uploadDate,serverType,filePath
        from t_file_item
        <where>
            <if test="fileId != null and fileId != ''">
                and fileId = #{fileId},
            </if>
            <if test="fileName != null and fileName != ''">
                and fileName like concat('%', #{fileName}, '%')
            </if>
            <if test="serverType !=null and serverType !=''">
                and serverType =#{serverType}
            </if>
            <!-- 开始时间检索 -->
            <if test="beginDate != null and beginDate != ''">
                and uploadDate &gt;= #{beginDate},
            </if>
            <!-- 结束时间检索 -->
            <if test="endDate != null and endDate != ''">
                and uploadDate &lt;= #{endDate}
            </if>
        </where>
    </select>
</mapper>