<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.maplefix.mapper.FrontMapper">

    <!--新增友链申请-->
    <insert id="insertLink" parameterType="top.maplefix.model.Link">
        insert into t_link(link_name, url, description, avatar, email, create_date)
        value (#{linkName},#{url},
              #{description}, #{headerImg},
              #{email}, #{createDate})
    </insert>
    <!--新增评论-->
    <insert id="insertComment" useGeneratedKeys="true" keyProperty="id">
        insert into t_comment(
        <if test="email != null and email != ''">email,</if>
        <if test="ip != null and ip != ''">ip,</if>
        <if test="location != null and location != ''">location,</if>
        <if test="os != null and os != ''">os,</if>
        <if test="browser != null and browser != ''">browser,</if>
        <if test="parentId != null and parentId != ''">parent_id,</if>
        <if test="qqNum != null and qqNum != ''">qq_num,</if>
        <if test="nickName != null and nickName != ''">nick_name,</if>
        <if test="avatar != null and avatar != ''">avatar,</if>
        <if test="pageId != null and pageId != ''">page_id,</if>
        <if test="url != null and url != ''">url,</if>
        <if test="display != null and display != ''">display,</if>
        <if test="content != null and content != ''">content,</if>
        <if test="htmlContent != null and htmlContent != ''">html_content,</if>
        <if test="replyId != null ">reply_id,</if>
        <if test="reply != null ">reply,</if>
        <if test="adminReply != null ">admin_reply,</if>
        <if test="createDate != null and createDate != ''">create_date</if>
        )values(
        <if test="email != null and email != ''">#{email},</if>
        <if test="ip != null and ip != ''">#{ip},</if>
        <if test="location != null and location != ''">#{location},</if>
        <if test="os != null and os != ''">#{os},</if>
        <if test="browser != null and browser != ''">#{browser},</if>
        <if test="parentId != null and parentId != ''">#{parentId},</if>
        <if test="qqNum != null and qqNum != ''">#{qqNum},</if>
        <if test="nickName != null and nickName != ''">#{nickName},</if>
        <if test="avatar != null and avatar != ''">#{avatar},</if>
        <if test="pageId != null and pageId != ''">#{pageId},</if>
        <if test="url != null and url != ''">#{url},</if>
        <if test="display != null and display != ''">#{display},</if>
        <if test="content != null and content != ''">#{content},</if>
        <if test="htmlContent != null and htmlContent != ''">#{htmlContent},</if>
        <if test="replyId != null">#{replyId},</if>
        <if test="reply != null">#{reply},</if>
        <if test="adminReply != null">#{adminReply},</if>
        <if test="createDate != null and createDate != ''">#{createDate}</if>
        )
    </insert>
    <!--评论踩+1-->
    <update id="incrementCommentBad">
        update t_comment
        set bad=bad + 1
        where id = #{id}
    </update>
    <!--评论喜欢+1-->
    <update id="incrementCommentGood">
        update t_comment
        set good=good + 1
        where id = #{id}
    </update>
    <!--博客喜欢+1-->
    <update id="incrementBlogLike">
        update t_blog
        set  like = like  + 1
        where id = #{id}
    </update>
    <!--博客点击+1-->
    <update id="incrementBlogClick">
        update t_blog
        set click=click + 1
        where id = #{id}
    </update>
    <!--友链点击+1-->
    <update id="incrementLinkClick">
        update t_link
        set click=click + 1
        where id = #{id}
    </update>
    <!--查询显示友链-->
    <select id="selectLinkList" resultType="top.maplefix.model.Link">
        select id, link_name, url, description, header_img
        from t_link
        where  display = 1
        and status = 1

    </select>
    <!--查询分类-->
    <select id="selectCategoryList" resultType="top.maplefix.model.Category">
        select id, title
        from t_category
        order by create_date, support desc
    </select>
    <!--查询推荐博客-->
    <select id="selectSupportBlogList" resultType="top.maplefix.model.Blog">
        select b.id,
               b.title,
               b.summary,
               b.header_img,
               b.like,
               b.click,
               b.create_date,
               count(c.id) as comment_count
        from t_blog b
        left join t_comment c on b.id = c.page_id
        where b.support = 1
        and b.status = 1
        group by b.id
        order by b.create_date, b.weight desc
        limit 5
    </select>
    <!--查询热门博客-->
    <select id="selectHotBlogList" resultType="top.maplefix.model.Blog">
        select b.id,
               b.title,
               b.summary,
               b.summary,
               b.like,
               b.click,
               b.create_date,
               count(c.id) as comment_count
        from t_blog b
        left join t_comment c
        on b.id = c.page_id
        group by b.id
        order by click desc
        limit 5
    </select>
    <!--查询标签列表-->
    <select id="selectTagList" resultType="top.maplefix.model.Tag">
        select t.id, t.title, t.color, count(tm.id) as count
        from t_tag t
        left join t_blog_tag_mid tm
        on t.id = tm.tag_id
        group by t.id
        having count(tm.id) > 0
    </select>
    <!--查询轮播图列表-->
    <select id="selectCarouselList" resultType="top.maplefix.model.Carousel">
        select id,
               title,
               description,
               url,
               display,
               target,
               create_date,
               update_date
        from t_carousel
    </select>
    <!--查询通知公告列表-->
    <select id="selectNoticeList" resultType="top.maplefix.model.Notice">
        select id, title, type, html_content
        from t_notice
    </select>
    <!--根据页面id查询评论标题-->
    <select id="selectCommentListByPageId" resultType="top.maplefix.model.Comment">
        select id,
               parent_id,
               nick_name,
               avatar,
               page_id,
               good,
               admin_reply,
               bad,
               reply_id,
               html_content as content,
               create_date,
                update_date
        from t_comment
        where  page_id = #{id}
        order by create_date desc
    </select>

    <resultMap  id="BlogDetail" type="top.maplefix.model.Blog">
        <result property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="headerImg" column="header_img"/>
        <result property="content" column="html_content"/>
        <result property="comment" column="comment"/>
        <result property="support" column="support"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <collection property="tagTitleList" ofType="string" select="selectTagByBlogId" column="id">
        </collection>
    </resultMap>
    <!--根据博客id查询标签-->
    <select id="selectTagByBlogId" resultType="java.lang.String">
        select title
        from t_tag t
        left join t_blog_tag_mid tm on t.id = tm.tag_id
        where tm.id = #{id}
    </select>
    <!--根据页面id查询博客详情-->
    <select id="selectBlogDetailById" resultMap="BlogDetail">
            select id,
               category_id,
               title,
               summary,
               cover_url,
               html_content,
               comment,
               support,
               like,
               click,
               create_date,
               update_date
        from t_blog
        where  id = #{id}
    </select>
    <!--查询博客列表-->
    <select id="selectBlogList" resultType="top.maplefix.model.Blog">
        select b.id,
        b.category_id,
        b.title,
        b.summary,
        b.weight,
        b.header_img,
        b.status,
        b.support,
        b.like,
        b.click,
        b.comment,
        b.create_date,
        b.update_date,
        count(c.id) as comment_count
        from t_blog b left join t_comment c
        on b.id=c.page_id
        <where>
            <if test="categoryId != null">
                AND b.category_id =#{categoryId}
            </if>
            <if test="support != null ">
                AND b.support = #{support}
            </if>
            <if test="beginDate != null "><!-- 开始时间检索 -->
                and date_format( b.create_date,'%y%m%d') &gt;= date_format(#{beginDate},'%y%m%d')
            </if>
            <if test="endDate != null "><!-- 结束时间检索 -->
                and date_format( b.create_date,'%y%m%d') &lt;= date_format(#{endDate},'%y%m%d')
            </if>
        </where>
        group by b.id
    </select>
    <!--根据类型和id查询标签列表-->
    <select id="selectTagListByTypeAndId" resultType="top.maplefix.model.Tag">
        select t.id, color, title, create_date,
        update_date
        from t_tag t
        left join t_blog_tag_mid tm on t.id = tm.tag_id
        where tm.blog_id=#{id}
    </select>
    <!--从字典表查询关于我信息-->
    <select id="selectAbout" resultType="top.maplefix.model.DictData">
        select id, dict_key, dict_value
        from t_dict
        where dict_key = 'about'
    </select>
    <!--根据id查询评论信息-->
    <select id="selectCommentById" resultType="top.maplefix.model.Comment">
        select id,
               nick_name,
               email,
               ip,
               location,
               os,
               browser,
               parent_id,
               qq_num,
               avatar,
               page_id,
               url,
               display,
               good,
               bad,
               content,
               create_date,
               reply
        from t_comment
        where id = #{id}
    </select>
    <!--查询推荐的友链列表-->
    <select id="selectSupportLinkList" resultType="top.maplefix.model.Link">
        select id, link_name, url, description, header_img
        from t_link
        order by weight desc
    </select>
    <!--根据博客id查询博客标题-->
    <select id="selectBlogTitleById" resultType="java.lang.String">
        select title from t_blog where id=#{id}
    </select>
</mapper>

