<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.maplefix.mapper.LinkMapper">

    <resultMap type="top.maplefix.model.Link" id="linkResult">
        <id property="id" column="id"/>
        <result property="linkName" column="link_name"/>
        <result property="url" column="url"/>
        <result property="description" column="description"/>
        <result property="headerImg" column="header_img"/>
        <result property="status" column="status"/>
        <result property="display" column="display"/>
        <result property="email" column="email"/>
        <result property="support" column="support"/>
        <result property="weight" column="weight"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <sql id="selectLinkVo">
        select id,
        link_name,
        url,
        description,
        header_img,
        status,
        display,
        email,
        support,
        weight,
        create_date,
        update_date
        from t_link
    </sql>

    <select id="selectLinkList" resultMap="linkResult">
        <include refid="selectLinkVo"/>
        <if test="linkName != null and linkName != ''">
            AND link_name like concat('%', #{linkName}, '%')
        </if>
        <if test="email != null and email != ''">
            AND email like concat('%', #{email}, '%')
        </if>
        <if test="display != null and display != ''">
            AND display =#{display}
        </if>
        <if test="status != null ">
            AND status =#{status}
        </if>
        <if test="params.beginDate != null and params.beginDate != ''"><!-- 开始时间检索 -->
                and date_format(create_date,'%y%m%d') &gt;= date_format(#{params.beginDate},'%y%m%d')
            </if>
            <if test="params.endDate != null and params.endDate != ''"><!-- 结束时间检索 -->
                and date_format(create_date,'%y%m%d') &lt;= date_format(#{params.endDate},'%y%m%d')
            </if>
    </select>

    <select id="selectLinkById" parameterType="java.lang.Long" resultMap="linkResult">
        <include refid="selectLinkVo"/>
        and id = #{id}
    </select>

    <insert id="insertLink" useGeneratedKeys="true" keyProperty="id">
        insert into t_link
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="linkName != null  and linkName != ''">link_name,</if>
            <if test="url != null  and url != ''">url,</if>
            <if test="description != null  and description != ''">description,</if>
            <if test="headerImg != null  and headerImg != ''">header_img,</if>
            <if test="status != null ">status,</if>
            <if test="display != null ">display,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="support != null ">support,</if>
            <if test="weight != null ">weight,</if>
            <if test="createDate != null  and createDate != ''">create_date</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="linkName != null  and linkName != ''">#{linkName},</if>
            <if test="url != null  and url != ''">#{url},</if>
            <if test="description != null  and description != ''">#{description},</if>
            <if test="headerImg != null  and headerImg != ''">#{headerImg},</if>
            <if test="status != null ">#{status},</if>
            <if test="display != null ">#{display},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="support != null ">#{support},</if>
            <if test="weight != null ">#{weight},</if>
            <if test="createDate != null  and createDate != ''">#{createDate}</if>
        </trim>
    </insert>

    <update id="updateLink">
        update t_link
        <trim prefix="SET" suffixOverrides=",">
            <if test="linkName != null  and linkName != ''">link_name = #{linkName},</if>
            <if test="url != null  and url != ''">url = #{url},</if>
            <if test="description != null  and description != ''">description = #{description},</if>
            <if test="headerImg != null  and headerImg != ''">header_img = #{headerImg},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="display != null ">display = #{display},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="support != null ">support = #{support},</if>
            <if test="weight != null ">weight = #{weight},</if>
            <if test="updateDate != null  and updateDate != ''">update_date = #{updateDate}</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLinkById">
        delete from t_link where id = #{id}
    </delete>

    <delete id="deleteLinkByIds">
        delete from t_link where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
