<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.maplefix.mapper.RoleMapper">

    <resultMap type="top.maplefix.model.Role" id="SysRoleResult">
        <id property="id" column="id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleKey" column="role_key"/>
        <result property="roleSort" column="role_sort"/>
        <result property="status" column="status"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectRoleVo">
	    select distinct r.id,
	    r.role_name,
	    r.role_key,
	    r.role_sort,
        r.status,
        r.create_date,
        r.update_date,
        r.remark
        from t_role r
        left join t_user_role_mid ur on ur.role_id = r.id
        left join t_user u on u.id = ur.user_id
    </sql>

    <select id="selectRoleList" parameterType="top.maplefix.model.Role" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        <where>
            <if test="roleName != null and roleName != ''">
                AND r.role_name like concat('%', #{roleName}, '%')
            </if>
            <if test="status != null">
                AND r.status = #{status}
            </if>
            <if test="roleKey != null and roleKey != ''">
                AND r.role_key like concat('%', #{roleKey}, '%')
            </if>
            <if test="params.beginDate != null and params.beginDate != ''"><!-- 开始时间检索 -->
                and date_format(r.create_date,'%y%m%d') &gt;= date_format(#{params.beginDate},'%y%m%d')
            </if>
            <if test="params.endDate != null and params.endDate != ''"><!-- 结束时间检索 -->
                and date_format(r.create_date,'%y%m%d') &lt;= date_format(#{params.endDate},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectRolePermissionByUserId" parameterType="java.lang.String" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        WHERE ur.user_id = #{userId}
    </select>

    <select id="selectRoleAll" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
    </select>

    <select id="selectRoleListByUserId" parameterType="java.lang.String" resultType="Integer">
		select r.role_id
        from t_role r
	    left join t_user_role_mid ur on ur.role_id = r.id
        left join t_user u on u.id = ur.user_id
	    where u.id = #{id}
	</select>

    <select id="selectRoleById" parameterType="java.lang.String" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        where r.id = #{id}
    </select>

    <select id="selectRolesByUserName" parameterType="String" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        WHERE  u.user_name = #{userName}
    </select>

    <select id="checkRoleNameUnique" parameterType="String" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        where r.role_name=#{roleName}
    </select>

    <select id="checkRoleKeyUnique" parameterType="String" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
        where r.role_key=#{roleKey}
    </select>

    <insert id="insertRole" parameterType="top.maplefix.model.Role" >
        insert into t_role(
        <if test="roleName != null and roleName != ''">role_name,</if>
        <if test="roleKey != null and roleKey != ''">role_key,</if>
        <if test="roleSort != null">role_sort,</if>
        <if test="status != null ">status,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createDate != null and createDate != ''">create_date</if>
        )values(
        <if test="roleName != null and roleName != ''">#{roleName},</if>
        <if test="roleKey != null and roleKey != ''">#{roleKey},</if>
        <if test="roleSort != null">#{roleSort},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createDate != null and createDate != ''">#{createDate}</if>
        )
    </insert>

    <update id="updateRole" parameterType="top.maplefix.model.Role">
        update t_role
        <set>
            <if test="roleName != null and roleName != ''">role_name = #{roleName},</if>
            <if test="roleKey != null and roleKey != ''">role_key = #{roleKey},</if>
            <if test="roleSort != null ">role_sort = #{roleSort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="updateDate != null and updateDate != ''">update_date = #{updateDate}</if>
        </set>
        where id = #{id}
    </update>


    <delete id="deleteRoleByIds">
        delete from  t_role  where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>